<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.id.ramadanrizky.todofirebasefix3"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_schedo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActivityTheme.Light"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8820338115532670~1660604832"/>
        <activity android:name=".SettingsActivity"
            android:noHistory="true"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:noHistory="true" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"></activity>
        <activity android:name=".WeatherActivity" />
        <activity
            android:name=".DetailTaskActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ActivityTheme.Light" />
        <activity
            android:name=".AddTaskActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ActivityTheme.Light" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:theme="@style/ActivityTheme.Light" />

        <receiver android:name=".broadcast_receiver.NotificationPublish" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>